VITE_FIREBASE_API_KEY=your_api_key_here
VITE_FIREBASE_AUTH_DOMAIN=whiteboard-1e52a.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=whiteboard-1e52a
VITE_FIREBASE_STORAGE_BUCKET=whiteboard-1e52a.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=155805808515
VITE_FIREBASE_APP_ID=1:155805808515:web:c5072a390581448eece8b6
VITE_FIREBASE_MEASUREMENT_ID=G-CVMP60DWXB
